<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tweet</title>
</head>
<body>
<a href="navigation.html">Back</a>
<h1>Twitter</h1>
<h2>Tweet</h2>
<img src = "images/study.jpeg"
     height="48px"
     width="48px"/>

<form>
    <textarea cols="20" rows="3" placeholder="What's happening?"></textarea></br>

    <select>
        <option value = "EVERYONE" selected>Everyone can reply</option>
        <option value = "FOLLOWING" >People you follow</option>
        <option value = "MENTIONED">Only people you mention</option>
    </select></br>

    <!-- add a ruler between lines -->
    <hr>
    <input type = "file"/>

    <button type="button">Tweet</button>
</form>

</body>
</html>