.wd-whole-page{
    background-color: black;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(47, 51, 54);
    padding-right: 10px;
    padding-left: 10px;

}

.wd-rounded-corners-all-around {
    border-radius: 50px;
    border-color: darkgray;
    background-color: darkgray;
}

.wd-search-gear{
    padding-left: 16px;
    padding-top: 16px;
    border-style: solid;
    border-width: 1px 1px 0px 1px;
    border-color: rgb(47, 51, 54);
}

.wd-search-icon{
    color: white;
    position:absolute;
    left: 25px;
    bottom: 4px;
}

.wd-top-hyperlink-borders{
    border-style: solid;
    border-width: 0px 1px 1px 1px;
    border-color: rgb(47, 51, 54);
    padding-top: 16px;
    padding-bottom: 16px;
}

.wd-text-white {
    color: white;
}

.wd-text-lg {
    color: lightgray;
}

.wd-inner-padding{
    padding: 16px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(47, 51, 54);
}

.wd-input-field{
    padding-left: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-style: none;
}

::placeholder {color: white;}

.wd-display{display: flex;}

.wd-padded-right {
    float: right;
    padding-right:12px;
}

.wd-for-you {
    color:rgb(29,161,242);
    font-size: 15px;
    padding:16px;
    text-decoration:none;
}

.wd-border-for-you{
    border-color:rgb(29,161,242);
    border-style: solid;
    border-width: 0px 0px 3px 0px;
    padding-bottom: 12px;
}

.wd-the-other {
    color:rgb(110, 118, 125);
    font-size: 15px;
    padding: 16px;
    text-decoration:none;
}

.wd-posts{
    font-size: 13px;
    color:rgb(110, 118, 125);
    padding-left: 16px;
    padding-bottom: 12px;
    padding-top: 12px;
    position: relative;
}

.wd-post-image{
    border-radius: 20px;
    position: absolute;
    right: 16px;
}

.wd-flex{
    display: flex;
}

.wd-topic{
    padding-right: 200px;
}